__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
.git
.gitignore
.vscode
.idea

frontend-react/node_modules
frontend-react/dist

data/raw
data/generated
data/features
data/metadata
data/splits
data/evaluation

*.csv
*.ipynb
